@import "../css/reset.css";
html,body,.container{
  height: 100%;
}
body{
    margin: 0 auto;
    font-size: 16px;
}
.container{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background: url("../img/back1.jpg");
  background-size: cover;
}
.containHead{
   width: 100%;
   height: 1rem;
   padding: .05rem .1rem;
}
.songIcon{
  width: .64rem;
  height: .64rem;
  margin: calc((1rem - .64rem)/2)  0;
}
.songTitle{
    width: calc(100% - (.64rem * 2) - .2rem);
  height: .64rem;
  margin: calc((1rem - .64rem)/2)  0;
  text-align: center;
  line-height: .64rem;
  font-weight: bolder;
color: #fff;
font-size: .48rem;
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
}
.moveImg{
  width: 3rem;
  height: 3rem;
  border: 1px solid #000;
  border-radius: 50%;
  margin: .2rem auto;
overflow: hidden;
}
.mainContent{
  width: 100%;
  height: calc(100% - 1.1rem - 3.5rem - 3.4rem);
}
.showWord{
  height: 100%;
  overflow-y: auto;
  text-align: center;
  color: #fff;
}

.showWord::-webkit-scrollbar { 
  width: 0px;
}
.showWord::-webkit-scrollbar-thumb {
  border-radius: 1px;
  background: rgba(0, 0, 0, 0.4);
}
.showWord::-webkit-scrollbar-track {
  border-radius: 0;
  background: rgba(0, 0, 0, 0.2);
}
.footContent{
  width: 100%;
  height: 3.5rem;
  position: absolute;
  bottom: 0;
}
.time{
  width: 100%;
  color: #fff;
}
.currentTime{
  margin-left: .25rem;
}
.durationTime{
  margin-right: .25rem;
}
.progress{
  position: relative;
  width: 100%;
  height: .06rem;
  background-color: #fff;
}
.progress-active{
  background-color: rgb(23, 241, 241);
  width: 0px;
  height: .06rem;
}
.mask{
  position: absolute; 
  top: -.03rem;
   left: 0px;
  width: .2rem;
  height: .12rem;
  background-color: blue;
}
.layer{
  position: absolute;
  top: 0;
  width: 100%;
  height: .06rem;
}
.tip{
  margin-top: .15rem;
  width: calc(100% - .5rem);
  height: 1rem;
  padding: .05rem .25rem;
   line-height: 1rem;
   color: #fff;
   font-size: .45rem;
   font-weight: bolder;
}
.enjoy{
  width: .64rem;
  height: .64rem;
  margin: calc(1rem - .74rem - .11rem) 0;
}
.playIcon{
  width: calc(100% - .5rem);
  height: 100%;
  padding: .05rem .25rem;
  position: relative;
}
.playIcon>div{
  float: left;
  margin-right: calc((100% - 1.5rem - .88rem * 4)/5 + .88rem/4)
}
.playIcon>div:last-child{
  margin-right: 0;
}

.playIcon>.I{
  width: .88rem;
  height: .88rem;
  margin-top: calc((3.5rem - 21px - 2.19rem)/2);
}
.playI{
  width: 1rem;
  height: 1rem;
  margin-top: calc((25% - 1rem)/2)
}